body {
    user-select: none;
    background-color: black;
}

.cat1 {
    background: url('cat.png') no-repeat center center fixed;
    background-size: cover;
}

.cat2 {
    background: url('cat2.png') no-repeat center center fixed;
    background-size: cover;
}

input {
    padding: 3vh;
    margin: 1vh;
    border: none;
    border-radius: 25px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

p {
    margin: 1vh;
    color: #E5E4E2;
    font-family: "Mystery Quest", system-ui;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 5px 2px #474747;
    line-height: 1;
}

.center {
    display: flex;
    justify-content: center;
}

#area {
    width: 100%;
    height: 50vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5vh;
}

.loader {
    width: 100px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 30%, #ffffff00 0 70%, rgb(255, 255, 255) 0) 50%/8% 100%, linear-gradient(90deg, rgba(255, 255, 255, 0.25) 30%, #ffffff00 0 70%, rgba(255, 255, 255, 0.75) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}

.loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
}

@keyframes l23 {
    100% {
        transform: rotate(1turn)
    }
}